<!-- row 2 items -->
<div class="row">
    <div class=" col-lg-6 col-sm-12">
        <div class="container border-2">
            <img src="fotos/moveis/banheiros/banheiros (6).jpg" class="imgGaleria mt-3" onclick="selectImage(this)" alt="Móvel 1" data-toggle="modal" data-target="#modalCarousel">
            <h5 class="pt-3">Móvel em MDF Ultra</h5>
        </div>
    </div>
    <div class=" col-lg-6 col-sm-12">
        <div class="container border-2">
            <img src="fotos/moveis/banheiros/banheiros (9).jpg" class="imgGaleria mt-3" onclick="selectImage(this)" alt="Móvel 2"  data-toggle="modal" data-target="#modalCarousel">
            <h5 class="pt-3">Móvel em MDF Ultra</h5>
        </div>
    </div>
</div>
<!-- row 3 items -->
<div class="row">
    <div class="col-lg-4 col-sm-12">
        <div class="container border-2">
            <img src="fotos/moveis/banheiros/banheiros (8).jpg" class="imgGaleria mt-3"onclick="selectImage(this)" alt="Móvel" data-toggle="modal"  data-target="#modalCarousel">
            <h5 class="pt-3"> Móvel MDF</h5>
        </div>
    </div>
    <div class="col-lg-4 col-sm-12">
        <div class="container border-2">
            <img src="fotos/moveis/banheiros/banheiros (7).jpg" class="imgGaleria mt-3" onclick="selectImage(this)"alt="Móvel" data-toggle="modal"  data-target="#modalCarousel">
            <h5 class="pt-3"> Móvel MDF</h5>
        </div>
    </div>
    <div class="col-lg-4 col-sm-12">
        <div class="container border-2">
            <img src="fotos/moveis/banheiros/banheiros (4).jpg" class="imgGaleria mt-3" onclick="selectImage(this)"alt="Móvel" data-toggle="modal"  data-target="#modalCarousel">
            <h5 class="pt-3"> Móvel MDF</h5>
        </div>
    </div>
</div>



<!-- row 2 items -->
<div class="row">
    <div class=" col-lg-6 col-sm-12">
        <div class="container border-2">
            <img src="fotos/moveis/banheiros/banheiros (3).jpg" class="imgGaleria mt-3" onclick="selectImage(this)" alt="Móvel 1" data-toggle="modal" data-target="#modalCarousel">
            <h5 class="pt-3">Móvel MDF</h5>
        </div>
    </div>
    <div class=" col-lg-6 col-sm-12">
        <div class="container border-2">
            <img src="fotos/moveis/banheiros/banheiros (2).jpg" class="imgGaleria mt-3" onclick="selectImage(this)" alt="Móvel 2"  data-toggle="modal" data-target="#modalCarousel">
            <h5 class="pt-3">Móveis em MDF </h5>
        </div>
    </div>
</div>

<!-- row 2 items -->
<div class="row">
    <div class=" col-lg-6 col-sm-12">
        <div class="container border-2">
            <img src="fotos/moveis/banheiros/banheiros (1).jpg" class="imgGaleria mt-3" onclick="selectImage(this)" alt="Móvel 1" data-toggle="modal" data-target="#modalCarousel">
            <h5 class="pt-3">Móvel MDF</h5>
        </div>
    </div>
    <div class=" col-lg-6 col-sm-12">
        <div class="container border-2">
            <img src="fotos/moveis/banheiros/banheiros (5).jpg" class="imgGaleria mt-3" onclick="selectImage(this)" alt="Móvel 2"  data-toggle="modal" data-target="#modalCarousel">
            <h5 class="pt-3">Móveis em MDF </h5>
        </div>
    </div>
</div>