<!-- row 2 items -->
<div class="row">
    <div class=" col-lg-6 col-sm-12">
        <div class="container border-2">
            <img src="fotos/moveis/cozinhas/cozinhas (16).jpg" class="imgGaleria mt-3" onclick="selectImage(this)" alt="Móvel 1" data-toggle="modal" data-target="#modalCarousel">
            <h5 class="pt-3">Móveis em MDF e Madeira</h5>
        </div>
    </div>
    <div class=" col-lg-6 col-sm-12">
        <div class="container border-2">
            <img src="fotos/moveis/cozinhas/cozinhas (17).jpg" class="imgGaleria mt-3" onclick="selectImage(this)" alt="Móvel 2"  data-toggle="modal" data-target="#modalCarousel">
            <h5 class="pt-3">Móveis em MDF e Madeira</h5>
        </div>
    </div>
</div>
<!-- row 3 items -->
<div class="row">
    <div class="col-lg-4 col-sm-12">
        <div class="container border-2">
            <img src="fotos/moveis/cozinhas/cozinhas (3).jpg" class="imgGaleria mt-3"onclick="selectImage(this)" alt="Móvel" data-toggle="modal"  data-target="#modalCarousel">
            <h5 class="pt-3"> Móvel MDF</h5>
        </div>
    </div>
    <div class="col-lg-4 col-sm-12">
        <div class="container border-2">
            <img src="fotos/moveis/cozinhas/cozinhas (4).jpg" class="imgGaleria mt-3" onclick="selectImage(this)"alt="Móvel" data-toggle="modal"  data-target="#modalCarousel">
            <h5 class="pt-3"> Móvel MDF</h5>
        </div>
    </div>
    <div class="col-lg-4 col-sm-12">
        <div class="container border-2">
            <img src="fotos/moveis/cozinhas/cozinhas (5).jpg" class="imgGaleria mt-3" onclick="selectImage(this)"alt="Móvel" data-toggle="modal"  data-target="#modalCarousel">
            <h5 class="pt-3"> Móvel MDF</h5>
        </div>
    </div>
</div>

<!-- row 3 items -->
<div class="row">
    <div class="col-lg-4 col-sm-12">
        <div class="container border-2">
            <img src="fotos/moveis/cozinhas/cozinhas (6).jpg" class="imgGaleria mt-3"onclick="selectImage(this)" alt="Móvel" data-toggle="modal"  data-target="#modalCarousel">
            <h5 class="pt-3"> Móvel MDF</h5>
        </div>
    </div>
    <div class="col-lg-4 col-sm-12">
        <div class="container border-2">
            <img src="fotos/moveis/cozinhas/cozinhas (7).jpg" class="imgGaleria mt-3" onclick="selectImage(this)"alt="Móvel" data-toggle="modal"  data-target="#modalCarousel">
            <h5 class="pt-3"> Móvel MDF Ultra</h5>
        </div>
    </div>
    <div class="col-lg-4 col-sm-12">
        <div class="container border-2">
            <img src="fotos/moveis/cozinhas/cozinhas (8).jpg" class="imgGaleria mt-3" onclick="selectImage(this)"alt="Móvel" data-toggle="modal"  data-target="#modalCarousel">
            <h5 class="pt-3"> Móvel MDF Ultra</h5>
        </div>
    </div>
</div>

<!-- row 2 items -->
<div class="row">
    <div class=" col-lg-6 col-sm-12">
        <div class="container border-2">
            <img src="fotos/moveis/cozinhas/cozinhas (18).jpg" class="imgGaleria mt-3" onclick="selectImage(this)" alt="Móvel 1" data-toggle="modal" data-target="#modalCarousel">
            <h5 class="pt-3">Móvel MDF</h5>
        </div>
    </div>
    <div class=" col-lg-6 col-sm-12">
        <div class="container border-2">
            <img src="fotos/moveis/cozinhas/cozinhas (20).jpg" class="imgGaleria mt-3" onclick="selectImage(this)" alt="Móvel 2"  data-toggle="modal" data-target="#modalCarousel">
            <h5 class="pt-3">Móveis em MDF e Madeira</h5>
        </div>
    </div>
</div>