<!-- row 2 items -->
<div class="row">
    <div class=" col-lg-6 col-sm-12">
        <div class="container border-2">
            <img src="fotos/moveis/cozinhas/cozinhas (29).jpg" class="imgGaleria mt-3" onclick="selectImage(this)" alt="Móvel 1" data-toggle="modal" data-target="#modalCarousel">
            <h5 class="pt-3">Móvel MDF</h5>
        </div>
    </div>
    <div class=" col-lg-6 col-sm-12">
        <div class="container border-2">
            <img src="fotos/moveis/cozinhas/cozinhas (26).jpg" class="imgGaleria mt-3" onclick="selectImage(this)" alt="Móvel 2"  data-toggle="modal" data-target="#modalCarousel">
            <h5 class="pt-3">Móvel MDF</h5>
        </div>
    </div>
</div>
<!-- row 3 items -->
<div class="row">
    <div class="col-lg-4 col-sm-12">
        <div class="container border-2">
            <img src="fotos/moveis/cozinhas/cozinhas (23).jpg" class="imgGaleria mt-3"onclick="selectImage(this)" alt="Móvel" data-toggle="modal"  data-target="#modalCarousel">
            <h5 class="pt-3"> Móvel MDF</h5>
        </div>
    </div>
    <div class="col-lg-4 col-sm-12">
        <div class="container border-2">
            <img src="fotos/moveis/cozinhas/cozinhas (24).jpg" class="imgGaleria mt-3" onclick="selectImage(this)"alt="Móvel" data-toggle="modal"  data-target="#modalCarousel">
            <h5 class="pt-3"> Móvel MDF</h5>
        </div>
    </div>
    <div class="col-lg-4 col-sm-12">
        <div class="container border-2">
            <img src="fotos/moveis/cozinhas/cozinhas (25).jpg" class="imgGaleria mt-3" onclick="selectImage(this)"alt="Móvel" data-toggle="modal"  data-target="#modalCarousel">
            <h5 class="pt-3"> Móvel MDF</h5>
        </div>
    </div>
</div>

<!-- row 3 items -->
<div class="row">
    <div class="col-lg-6 col-sm-12">
        <div class="container border-2">
            <img src="fotos/moveis/cozinhas/cozinhas (27).jpg" class="imgGaleria mt-3"onclick="selectImage(this)" alt="Móvel" data-toggle="modal"  data-target="#modalCarousel">
            <h5 class="pt-3"> Móvel MDF</h5>
        </div>
    </div>
    <div class="col-lg-6 col-sm-12">
        <div class="container border-2">
            <img src="fotos/moveis/cozinhas/cozinhas (28).jpg" class="imgGaleria mt-3" onclick="selectImage(this)"alt="Móvel" data-toggle="modal"  data-target="#modalCarousel">
            <h5 class="pt-3"> Móvel MDF</h5>
        </div>
    </div>
    
</div>