<!-- row 3 items -->
<div class="row">
    <div class="col-lg-4 col-sm-12">
        <div class="container border-2">
            <img src="fotos/moveis/quartos/quartos (11).jpg" class="imgGaleria mt-3"onclick="selectImage(this)" alt="Móvel" data-toggle="modal"  data-target="#modalCarousel">
            <h5 class="pt-3"> Móvel MDF</h5>
        </div>
    </div>
    <div class="col-lg-4 col-sm-12">
        <div class="container border-2">
            <img src="fotos/moveis/quartos/quartos (12).jpg" class="imgGaleria mt-3" onclick="selectImage(this)"alt="Móvel" data-toggle="modal"  data-target="#modalCarousel">
            <h5 class="pt-3"> Móvel MDF</h5>
        </div>
    </div>
    <div class="col-lg-4 col-sm-12">
        <div class="container border-2">
            <img src="fotos/moveis/quartos/quartos (13).jpg" class="imgGaleria mt-3" onclick="selectImage(this)"alt="Móvel" data-toggle="modal"  data-target="#modalCarousel">
            <h5 class="pt-3"> Móvel MDF</h5>
        </div>
    </div>
</div>

<!-- row 2 items -->
<div class="row">
    <div class=" col-lg-6 col-sm-12">
        <div class="container border-2">
            <img src="fotos/moveis/quartos/quartos (14).jpg" class="imgGaleria mt-3" onclick="selectImage(this)" alt="Móvel 1" data-toggle="modal" data-target="#modalCarousel">
            <h5 class="pt-3">Móvel MDF</h5>
        </div>
    </div>
    <div class=" col-lg-6 col-sm-12">
        <div class="container border-2">
            <img src="fotos/moveis/quartos/quartos (2).jpg" class="imgGaleria mt-3" onclick="selectImage(this)" alt="Móvel 2"  data-toggle="modal" data-target="#modalCarousel">
            <h5 class="pt-3">Móvel em MDF </h5>
        </div>
    </div>
</div>

<!-- row 4 items -->
<div class="row">
    <div class="col-lg-3 col-sm-12">
        <div class="container border-2">
            <img src="fotos/moveis/quartos/quartos (3).jpg" class="imgGaleria mt-3"onclick="selectImage(this)" alt="Móvel" data-toggle="modal"  data-target="#modalCarousel">
            <h5 class="pt-3"> Móvel MDF</h5>
        </div>
    </div>
    <div class="col-lg-3 col-sm-12">
        <div class="container border-2">
            <img src="fotos/moveis/quartos/quartos (4).jpg" class="imgGaleria mt-3" onclick="selectImage(this)"alt="Móvel" data-toggle="modal"  data-target="#modalCarousel">
            <h5 class="pt-3"> Móvel MDF Ultra</h5>
        </div>
    </div>
    <div class="col-lg-3 col-sm-12">
        <div class="container border-2">
            <img src="fotos/moveis/quartos/quartos (5).jpg" class="imgGaleria mt-3" onclick="selectImage(this)"alt="Móvel" data-toggle="modal"  data-target="#modalCarousel">
            <h5 class="pt-3"> Móvel MDF Ultra</h5>
        </div>
    </div>
    <div class="col-lg-3 col-sm-12">
        <div class="container border-2">
            <img src="fotos/moveis/quartos/quartos (6).jpg" class="imgGaleria mt-3" onclick="selectImage(this)"alt="Móvel" data-toggle="modal"  data-target="#modalCarousel">
            <h5 class="pt-3"> Móvel MDF Ultra</h5>
        </div>
    </div>
</div>
<!-- row 2 items -->
<div class="row">
   
    <div class=" col-lg-6 col-sm-12">
        <div class="container border-2">
            <img src="fotos/moveis/quartos/quartos (7).jpg" class="imgGaleria mt-3" onclick="selectImage(this)" alt="Móvel 1" data-toggle="modal" data-target="#modalCarousel">
            <h5 class="pt-3">Móvel MDF</h5>
        </div>
    </div>
    <div class=" col-lg-6 col-sm-12">
        <div class="container border-2">
            <img src="fotos/moveis/quartos/quartos (33).jpg" class="imgGaleria mt-3" onclick="selectImage(this)" alt="Móvel 2"  data-toggle="modal" data-target="#modalCarousel">
            <h5 class="pt-3">Móvel em MDF </h5>
        </div>
    </div>
</div>

