<!-- row 2 items -->
<div class="row">
    <div class=" col-lg-6 col-sm-12">
        <div class="container border-2">
            <img src="fotos/moveis/salas/salas (4).jpg" class="imgGaleria mt-3" onclick="selectImage(this)" alt="Móvel 1" data-toggle="modal" data-target="#modalCarousel">
            <h5 class="pt-3">Painel MDF</h5>
        </div>
    </div>
    <div class=" col-lg-6 col-sm-12">
        <div class="container border-2">
            <img src="fotos/moveis/salas/salas (8).jpg" class="imgGaleria mt-3" onclick="selectImage(this)" alt="Móvel 2"  data-toggle="modal" data-target="#modalCarousel">
            <h5 class="pt-3">Mesa de madeira</h5>
        </div>
    </div>
</div>
<!-- row 3 items -->
<div class="row">
    <div class="col-lg-4 col-sm-12">
        <div class="container border-2">
            <img src="fotos/moveis/salas/salas (2).jpg" class="imgGaleria mt-3"onclick="selectImage(this)" alt="Móvel" data-toggle="modal"  data-target="#modalCarousel">
            <h5 class="pt-3"> Móvel MDF</h5>
        </div>
    </div>
    <div class="col-lg-4 col-sm-12">
        <div class="container border-2">
            <img src="fotos/moveis/salas/salas (3).jpg" class="imgGaleria mt-3" onclick="selectImage(this)"alt="Móvel" data-toggle="modal"  data-target="#modalCarousel">
            <h5 class="pt-3"> Móvel MDF</h5>
        </div>
    </div>
    <div class="col-lg-4 col-sm-12">
        <div class="container border-2">
            <img src="fotos/moveis/salas/salas (5).jpg" class="imgGaleria mt-3" onclick="selectImage(this)"alt="Móvel" data-toggle="modal"  data-target="#modalCarousel">
            <h5 class="pt-3"> Móvel em MDF e Madeira</h5>
        </div>
    </div>
</div>

<!-- row 3 items -->
<div class="row">
    <div class="col-lg-4 col-sm-12">
        <div class="container border-2">
            <img src="fotos/moveis/salas/salas (11).jpg" class="imgGaleria mt-3"onclick="selectImage(this)" alt="Móvel" data-toggle="modal"  data-target="#modalCarousel">
            <h5 class="pt-3"> Painel e Móvel MDF</h5>
        </div>
    </div>
    <div class="col-lg-4 col-sm-12">
        <div class="container border-2">
            <img src="fotos/moveis/salas/salas (12).jpg" class="imgGaleria mt-3" onclick="selectImage(this)"alt="Móvel" data-toggle="modal"  data-target="#modalCarousel">
            <h5 class="pt-3"> Painel e Móvel MDF</h5>
        </div>
    </div>
    <div class="col-lg-4 col-sm-12">
        <div class="container border-2">
            <img src="fotos/moveis/salas/salas (14).jpg" class="imgGaleria mt-3" onclick="selectImage(this)"alt="Móvel" data-toggle="modal"  data-target="#modalCarousel">
            <h5 class="pt-3"> Móvel MDF</h5>
        </div>
    </div>
</div>


