<!-- row 2 items -->
<div class="row">
    <div class=" col-lg-6 col-sm-12">
        <div class="container border-2">
            <img src="fotos/moveis/geral/geral (7).jpg" class="imgGaleria mt-3" onclick="selectImage(this)" alt="Móvel" data-toggle="modal" data-target="#modalCarousel">
            <h5 class="pt-3">Mesa de madeira</h5>
        </div>
    </div>
    <div class=" col-lg-6 col-sm-12">
        <div class="container border-2">
            <img src="fotos/moveis/geral/geral (10).jpg" class="imgGaleria mt-3" onclick="selectImage(this)" alt="Móvel"  data-toggle="modal" data-target="#modalCarousel">
            <h5 class="pt-3">Móvel MDF</h5>
        </div>
    </div>
</div>
<!-- row 3 items -->
<div class="row">
    <div class="col-lg-4 col-sm-12">
        <div class="container border-2">
            <img src="fotos/moveis/geral/geral (11).jpg" class="imgGaleria mt-3"onclick="selectImage(this)" alt="Móvel" data-toggle="modal"  data-target="#modalCarousel">
            <h5 class="pt-3"> Móvel em MDF Ultra</h5>
        </div>
    </div>
    <div class="col-lg-4 col-sm-12">
        <div class="container border-2">
            <img src="fotos/moveis/geral/geral (12).jpg" class="imgGaleria mt-3" onclick="selectImage(this)"alt="Móvel" data-toggle="modal"  data-target="#modalCarousel">
            <h5 class="pt-3">Deck de madeira</h5>
        </div>
    </div>
    <div class="col-lg-4 col-sm-12">
        <div class="container border-2">
            <img src="fotos/moveis/geral/geral (13).jpg" class="imgGaleria mt-3" onclick="selectImage(this)"alt="Móvel" data-toggle="modal"  data-target="#modalCarousel">
            <h5 class="pt-3">Móvel em MDF</h5>
        </div>
    </div>
</div>
<!-- row 2 items -->
<div class="row">
    <div class=" col-lg-6 col-sm-12">
        <div class="container border-2">
            <img src="fotos/moveis/geral/geral (18).jpg" class="imgGaleria mt-3" onclick="selectImage(this)" alt="Móvel" data-toggle="modal" data-target="#modalCarousel">
            <h5 class="pt-3">Móvel de madeira</h5>
        </div>
    </div>
    <div class=" col-lg-6 col-sm-12">
        <div class="container border-2">
            <img src="fotos/moveis/geral/geral (15).jpg" class="imgGaleria mt-3" onclick="selectImage(this)" alt="Móvel"  data-toggle="modal" data-target="#modalCarousel">
            <h5 class="pt-3">Móvel MDF Ultra</h5>
        </div>
    </div>
</div>
<!-- row 3 items -->
<div class="row">
    <div class="col-lg-4 col-sm-12">
        <div class="container border-2">
            <img src="fotos/moveis/geral/geral (19).jpg" class="imgGaleria mt-3"onclick="selectImage(this)" alt="Móvel" data-toggle="modal"  data-target="#modalCarousel">
            <h5 class="pt-3"> Móvel MDF Ultra</h5>
        </div>
    </div>
    <div class="col-lg-4 col-sm-12">
        <div class="container border-2">
            <img src="fotos/moveis/geral/geral (17).jpg" class="imgGaleria mt-3" onclick="selectImage(this)"alt="Móvel" data-toggle="modal"  data-target="#modalCarousel">
            <h5 class="pt-3"> Móvel MDF Ultra</h5>
        </div>
    </div>
    <div class="col-lg-4 col-sm-12">
        <div class="container border-2">
            <img src="fotos/moveis/geral/geral (14).jpg" class="imgGaleria mt-3" onclick="selectImage(this)"alt="Móvel" data-toggle="modal"  data-target="#modalCarousel">
            <h5 class="pt-3"> Móvel MDF</h5>
        </div>
    </div>
</div>