<div class="carousel-item" >
    <img src="fotos/moveis/cozinhas/cozinhas (29).jpg" class="imgModal mx-auto" alt="Móvel">
</div>
<div class="carousel-item" >
    <img src="fotos/moveis/cozinhas/cozinhas (26).jpg" class="imgModal mx-auto" alt="Móvel">
</div>
<div class="carousel-item" >
    <img src="fotos/moveis/cozinhas/cozinhas (23).jpg" class="imgModal mx-auto" alt="Móvel">
</div>
<div class="carousel-item" >
    <img src="fotos/moveis/cozinhas/cozinhas (24).jpg" class="imgModal mx-auto" alt="Móvel">
</div>
<div class="carousel-item" >
    <img src="fotos/moveis/cozinhas/cozinhas (25).jpg" class="imgModal mx-auto" alt="Móvel">
</div>
<div class="carousel-item" >
    <img src="fotos/moveis/cozinhas/cozinhas (27).jpg" class="imgModal mx-auto" alt="Móvel">
</div>
<div class="carousel-item" >
    <img src="fotos/moveis/cozinhas/cozinhas (28).jpg" class="imgModal mx-auto" alt="Móvel">
</div>
