<div class="carousel-item active" >
    <img src="fotos/moveis/geral/geral (1).jpg" class="imgModal mx-auto" alt="Móvel">
</div>
<div class="carousel-item">
    <img src="fotos/moveis/geral/geral (6).jpg" class="imgModal mx-auto" alt="Móvel">
</div>
<div class="carousel-item">
    <img src="fotos/moveis/geral/geral (2).jpg" class="imgModal mx-auto" alt="Móvel">
</div>
<div class="carousel-item">
    <img src="fotos/moveis/geral/geral (3).jpg" class="imgModal mx-auto" alt="Móvel">
</div>
<div class="carousel-item">
    <img src="fotos/moveis/geral/geral (20).jpg" class="imgModal mx-auto" alt="Móvel">
</div>
<div class="carousel-item" >
    <img src="fotos/moveis/geral/geral (4).jpg" class="imgModal mx-auto" alt="Móvel">
</div>
<div class="carousel-item">
    <img src="fotos/moveis/geral/geral (21).jpg" class="imgModal mx-auto" alt="Móvel">
</div>
<div class="carousel-item">
    <img src="fotos/moveis/geral/geral (5).jpg" class="imgModal mx-auto" alt="Móvel">
</div>
<div class="carousel-item">
    <img src="fotos/moveis/geral/geral (8).jpg" class="imgModal mx-auto" alt="Móvel">
</div>
<div class="carousel-item">
    <img src="fotos/moveis/geral/geral (9).jpg" class="imgModal mx-auto" alt="Móvel">
</div>


