<div class="carousel-item active" >
    <img src="fotos/moveis/outros/outros (1).jpg" class="imgModal mx-auto" alt="Móvel">
</div>
<div class="carousel-item" >
    <img src="fotos/moveis/outros/outros (10).jpg" class="imgModal mx-auto" alt="Móvel">
</div>
<div class="carousel-item" >
    <img src="fotos/moveis/outros/outros (3).jpg" class="imgModal mx-auto" alt="Móvel">
</div>
<div class="carousel-item" >
    <img src="fotos/moveis/outros/outros (4).jpg" class="imgModal mx-auto" alt="Móvel">
</div>
<div class="carousel-item" >
    <img src="fotos/moveis/outros/outros (9).jpg" class="imgModal mx-auto" alt="Móvel">
</div>
<div class="carousel-item" >
    <img src="fotos/moveis/outros/outros (2).jpg" class="imgModal mx-auto" alt="Móvel">
</div>
<div class="carousel-item" >
    <img src="fotos/moveis/outros/outros (11).jpg" class="imgModal mx-auto" alt="Móvel">
</div>
<div class="carousel-item" >
    <img src="fotos/moveis/outros/outros (5).jpg" class="imgModal mx-auto" alt="Móvel">
</div>
<div class="carousel-item" >
    <img src="fotos/moveis/outros/outros (24).jpg" class="imgModal mx-auto" alt="Móvel">
</div>

