<div class="carousel-item">
    <img src="fotos/moveis/quartos/quartos (17).jpg" class="imgModal mx-auto" alt="Móvel">
</div>
<div class="carousel-item">
    <img src="fotos/moveis/quartos/quartos (21).jpg" class="imgModal mx-auto" alt="Móvel">
</div>
<div class="carousel-item">
    <img src="fotos/moveis/quartos/quartos (22).jpg" class="imgModal mx-auto" alt="Móvel">
</div>
<div class="carousel-item">
    <img src="fotos/moveis/quartos/quartos (23).jpg" class="imgModal mx-auto" alt="Móvel">
</div>
<div class="carousel-item" >
    <img src="fotos/moveis/quartos/quartos (24).jpg" class="imgModal mx-auto" alt="Móvel">
</div>
<div class="carousel-item">
    <img src="fotos/moveis/quartos/quartos (25).jpg" class="imgModal mx-auto" alt="Móvel">
</div>
<div class="carousel-item">
    <img src="fotos/moveis/quartos/quartos (26).jpg" class="imgModal mx-auto" alt="Móvel">
</div>
<div class="carousel-item">
    <img src="fotos/moveis/quartos/quartos (27).jpg" class="imgModal mx-auto" alt="Móvel">
</div>
<div class="carousel-item">
    <img src="fotos/moveis/quartos/quartos (28).jpg" class="imgModal mx-auto" alt="Móvel">
</div>


