<div class="carousel-item">
    <img src="fotos/moveis/quartos/quartos (11).jpg" class="imgModal mx-auto" alt="Móvel">
</div>
<div class="carousel-item">
    <img src="fotos/moveis/quartos/quartos (12).jpg" class="imgModal mx-auto" alt="Móvel">
</div>
<div class="carousel-item">
    <img src="fotos/moveis/quartos/quartos (13).jpg" class="imgModal mx-auto" alt="Móvel">
</div>
<div class="carousel-item">
    <img src="fotos/moveis/quartos/quartos (14).jpg" class="imgModal mx-auto" alt="Móvel">
</div>
<div class="carousel-item" >
    <img src="fotos/moveis/quartos/quartos (2).jpg" class="imgModal mx-auto" alt="Móvel">
</div>
<div class="carousel-item">
    <img src="fotos/moveis/quartos/quartos (3).jpg" class="imgModal mx-auto" alt="Móvel">
</div>
<div class="carousel-item">
    <img src="fotos/moveis/quartos/quartos (4).jpg" class="imgModal mx-auto" alt="Móvel">
</div>
<div class="carousel-item">
    <img src="fotos/moveis/quartos/quartos (5).jpg" class="imgModal mx-auto" alt="Móvel">
</div>
<div class="carousel-item">
    <img src="fotos/moveis/quartos/quartos (6).jpg" class="imgModal mx-auto" alt="Móvel">
</div>
<div class="carousel-item">
    <img src="fotos/moveis/quartos/quartos (7).jpg" class="imgModal mx-auto" alt="Móvel">
</div>
<div class="carousel-item">
    <img src="fotos/moveis/quartos/quartos (33).jpg" class="imgModal mx-auto" alt="Móvel">
</div>

