<div class="carousel-item active" >
    <img src="fotos/moveis/salas/salas (4).jpg" class="imgModal mx-auto" alt="Móvel">
</div>
<div class="carousel-item">
    <img src="fotos/moveis/salas/salas (8).jpg" class="imgModal mx-auto" alt="Móvel">
</div>
<div class="carousel-item">
    <img src="fotos/moveis/salas/salas (2).jpg" class="imgModal mx-auto" alt="Móvel">
</div>
<div class="carousel-item">
    <img src="fotos/moveis/salas/salas (3).jpg" class="imgModal mx-auto" alt="Móvel">
</div>
<div class="carousel-item">
    <img src="fotos/moveis/salas/salas (5).jpg" class="imgModal mx-auto" alt="Móvel">
</div>
<div class="carousel-item" >
    <img src="fotos/moveis/salas/salas (11).jpg" class="imgModal mx-auto" alt="Móvel">
</div>
<div class="carousel-item">
    <img src="fotos/moveis/salas/salas (12).jpg" class="imgModal mx-auto" alt="Móvel">
</div>
<div class="carousel-item">
    <img src="fotos/moveis/salas/salas (14).jpg" class="imgModal mx-auto" alt="Móvel">
</div>


