<div class="carousel-item" >
    <img src="fotos/moveis/geral/geral (7).jpg" class="imgModal mx-auto" alt="Móvel">
</div>
<div class="carousel-item">
    <img src="fotos/moveis/geral/geral (10).jpg" class="imgModal mx-auto" alt="Móvel">
</div>
<div class="carousel-item">
    <img src="fotos/moveis/geral/geral (11).jpg" class="imgModal mx-auto" alt="Móvel">
</div>
<div class="carousel-item">
    <img src="fotos/moveis/geral/geral (12).jpg" class="imgModal mx-auto" alt="Móvel">
</div>
<div class="carousel-item">
    <img src="fotos/moveis/geral/geral (13).jpg" class="imgModal mx-auto" alt="Móvel">
</div>
<div class="carousel-item" >
    <img src="fotos/moveis/geral/geral (18).jpg" class="imgModal mx-auto" alt="Móvel">
</div>
<div class="carousel-item">
    <img src="fotos/moveis/geral/geral (15).jpg" class="imgModal mx-auto" alt="Móvel">
</div>
<div class="carousel-item">
    <img src="fotos/moveis/geral/geral (19).jpg" class="imgModal mx-auto" alt="Móvel">
</div>
<div class="carousel-item">
    <img src="fotos/moveis/geral/geral (17).jpg" class="imgModal mx-auto" alt="Móvel">
</div>
<div class="carousel-item">
    <img src="fotos/moveis/geral/geral (14).jpg" class="imgModal mx-auto" alt="Móvel">
</div>


