
    <div class="container ">
        
        
        <div class="contato mobile pt-4 col-sm-12 d-flex justify-content-center d-none" >
            Entre em contato:
            <a href="tel:+55-12-98160-6680" class="ml-2" style="margin: 0;" data-toggle="tooltip" title="Entre em contato por Telefone">
                (12)98160-6680
            </a>
            <a href="https://wa.me/5512981606680/?text=Boa%20tarde,%20gostaria%20de%20fazer%20um%20orçamento" data-toggle="tooltip" style="vertical-align: middle;"class="ml-2" title="Entre em contato por Whatsapp">
                <i class="material-icons icones" >
                    whatsapp
                </i>  
            </a>
        </div>
        <div class="d-flex">
            <div>
                <h5>Endereço: </h5>
                <p>Travessa três, n° 250</p>
                <p>Jardim do Vale Chácaras Agrícolas</p>
                <p>Guaratinguetá - SP</p>
                
            </div>
            
            <div class="col-sm-6 text-right ml-auto">
                <h5>Nos siga nas redes sociais: </h5>
                <a href="https://www.instagram.com/marcenariafenixguara/" data-toggle="tooltip" class="ml-2" title="Nos siga no instagram">
                    <i class="fab fa-instagram fa-2x"></i>
                </a>
                <a href="https://www.facebook.com/marcenariafenix" data-toggle="tooltip" class="ml-2" title="Nos siga no facebook">
                    <i class="fab fa-facebook fa-2x" ></i> 
                </a>
                <h5 class="mt-2">Nos mande um e-mail: </h5>
                <a href="mailto:marcenariafenix@hotmail.com">marcenariafenix@hotmail.com</a>
            </div>
        </div>
        
    </div>

    <hr size="3" color="white">
    <div class="container d-flex">
        

        <div class="row mt-auto">
            <div class="col-sm-12">
                <h5>Marcenaria Fênix - Todos direitos reservados.</h5>
            </div>
        </div>
    </div>
    
    
