<header>
    <div class="fundoCapa">
    <div class="capa container-fluid" >
    <nav class="navbar navbar-expand bg-transparent navbar-dark ">
            <div class="container-fluid">

                <!-- Brand -->
                <a class="navbar-brand"  href="">
                    <img src="fotos/logo.png" alt="logo" style="width:60px;">
                </a>

                <!-- Links -->
                <ul class="navbar-nav">
                    <!-- Dropdown -->
                    <li class="nav-item dropdown float-right">
                        <a class="nav-link dropdown-toggle" href="#"  data-toggle="dropdown">
                            <strong>Imagens</strong>
                        </a>
                        <div class="dropdown-menu bg-dark" id="dropdownNav">
                            <a class="dropdown-item active" href="#imagens"><strong>Geral</strong></a>
                            <a class="dropdown-item" href="#imagens"><strong>Salas</strong></a>
                            <a class="dropdown-item" href="#imagens"><strong>Cozinhas</strong></a>
                            <a class="dropdown-item" href="#imagens"><strong>Quartos</strong></a>
                            <a class="dropdown-item" href="#imagens"><strong>Banheiros</strong></a>
                            <a class="dropdown-item" href="#imagens"><strong>Outros</strong></a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#mapa"><strong>Mapa</strong></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contato"><strong>Contato</strong></a>
                    </li>
                    

                    
                </ul>
            </div>
        </nav>
        <div class="titulo">
            <h1 class="display-2 text-light"><strong>Marcenaria Fênix</strong></h1>
            <h1 class="text-light subtitulo">Móveis de marcenaria são para sempre, nossos clientes também</h1>
        </div>
    </div>
    </div>
</header>